# Data Science Tools and Ecosystem

## Author

Name : Nima NIKOOKAR

In this notebook several DataScience tools used for practice.

 **Objectives :**
 + List of Programming Languages
 + List of Data Science Libraries
 + Table of open source tools
 + Arithmetic code examples

#### List of Popular Data Science Programming Languages

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

#### List of commonly used Data Science libraries

1. Pandas
2. Numpy
3. Scikit-learn
4. Scipy
5. Seaborn

|  Data Science Tools |
| -------------------- |
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### Examples of arithmetic expressions

In [7]:
# In this arithmetic expression example we first multiply 3 with 4 and then add it with 5

(3*4)+5

17

In [9]:
# In this example we convert 200 min to hour

200 / 60

3.3333333333333335